@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Orbitron&display=swap');


:root {
    --primary-color: #5CDB95;
    --dark-blue: #05386B;
}


body {
    font-family: 'Henny Penny', cursive;
    font-family: 'Orbitron', sans-serif;
    background-color: var(--primary-color);
}

.heading1 {
    color: var(--dark-blue);
    text-align: center;
}

.div1 {
    text-align: center;
}

textarea {
    width: 40%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 2rem;
    margin: auto;

}

.div2 {
    text-align: center;
    color: var(--dark-blue);
}

/*images*/

.klingon {
    max-width: 500px;
    margin: auto;
    float: left;
}

.live-long {
    max-width: 500px;
    margin: auto;

}

/*button and output*/

.div-btn {
    text-align: center;
}


#output {
    border: 1px solid black;
    width: 40%;
    height: 10vh;
    display: block;
    margin-left: 610px;
    padding: 3rem;

}

#btn-translate {
    background-color: var(--dark-blue);
    color: var(--primary-color);
    font-size: larger;
    font-weight: 900;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    width: auto;
}

/*footer*/

.footer {
    background-color: var(--dark-blue);
    padding: 1rem 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: var(--primary-color);
    font-weight: bolder;
    margin-top: 15px;
}



.list-item-inline {
    text-decoration: none;
    display: inline;
    padding: 1rem;


}

.footer-link {
    text-decoration: none;

}